*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle
/.idea
/app/src/main/res/raw
build.gradle
gradlew
gradlew.bat
gradle.properties
settings.gradle
